In [1]:
import numpy as np  #linear Algebra
import pandas as pd #data processing , CSV file I/o
import matplotlib.pyplot as plt #data Visualization
import seaborn as sns

In [2]:
dataset = pd.read_csv("survey lung cancer.csv")

In [3]:
dataset

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,F,56,1,1,1,2,2,2,1,1,2,2,2,2,1,YES
305,M,70,2,1,1,1,1,2,2,2,2,2,2,1,2,YES
306,M,58,2,1,1,1,1,1,2,2,2,2,1,1,2,YES
307,M,67,2,1,2,1,1,2,2,1,2,2,2,1,2,YES
308,M,62,1,1,1,2,1,2,2,2,2,1,1,2,1,YES

In [4]:
dataset.shape

(309, 16)

In [5]:
dataset.describe()

,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN
count,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000
mean,62.673139,1.563107,1.569579,1.498382,1.501618,1.504854,1.673139,1.556634,1.556634,1.556634,1.579288,1.640777,1.469256,1.556634
std,8.210301,0.496806,0.495938,0.500808,0.500808,0.500787,0.469827,0.497588,0.497588,0.497588,0.494474,0.480551,0.499863,0.497588
min,21.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,57.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,62.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,2.000000
75%,69.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
max,87.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000

In [7]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
dataset['AGE'] = label_encoder.fit_transform(dataset['AGE'])
dataset['SMOKING'] = label_encoder.fit_transform(dataset['SMOKING'])
dataset

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,26,0,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,31,1,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,16,0,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,20,1,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,20,0,2,1,1,1,1,1,2,1,2,2,1,1,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,F,13,0,1,1,2,2,2,1,1,2,2,2,2,1,YES
305,M,27,1,1,1,1,1,2,2,2,2,2,2,1,2,YES
306,M,15,1,1,1,1,1,1,2,2,2,2,1,1,2,YES
307,M,24,1,1,2,1,1,2,2,1,2,2,2,1,2,YES
308,M,19,0,1,1,2,1,2,2,2,2,1,1,2,1,YES

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GENDER                 309 non-null    object
 1   AGE                    309 non-null    int64
 2   SMOKING                309 non-null    int64
 3   YELLOW_FINGERS         309 non-null    int64
 4   ANXIETY                309 non-null    int64
 5   PEER_PRESSURE          309 non-null    int64
 6   CHRONIC DISEASE        309 non-null    int64
 7   FATIGUE                309 non-null    int64
 8   ALLERGY                309 non-null    int64
 9   WHEEZING               309 non-null    int64
 10  ALCOHOL CONSUMING      309 non-null    int64
 11  COUGHING               309 non-null    int64
 12  SHORTNESS OF BREATH    309 non-null    int64
 13  SWALLOWING DIFFICULTY  309 non-null    int64
 14  CHEST PAIN             309 non-null    int64
 15  LUNG_CANCER            309 non-null    object
dtypes: int64(14), object(2)
memory usage: 38.8+ KB

In [9]:
dataset.isnull().sum()

GENDER                   0
AGE                      0
SMOKING                  0
YELLOW_FINGERS           0
ANXIETY                  0
PEER_PRESSURE            0
CHRONIC DISEASE          0
FATIGUE                  0
ALLERGY                  0
WHEEZING                 0
ALCOHOL CONSUMING        0
COUGHING                 0
SHORTNESS OF BREATH      0
SWALLOWING DIFFICULTY    0
CHEST PAIN               0
LUNG_CANCER              0
dtype: int64

In [11]:
#spilitting data and target
X= dataset.drop (['LUNG_CANCER'], axis=1) #feature
y=dataset['LUNG_CANCER'] #target
print("No error")

No error

In [12]:
X

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN
0,M,26,0,2,2,1,1,2,1,2,2,2,2,2,2
1,M,31,1,1,1,1,2,2,2,1,1,1,2,2,2
2,F,16,0,1,1,2,1,2,1,2,1,2,2,1,2
3,M,20,1,2,2,1,1,1,1,1,2,1,1,2,2
4,F,20,0,2,1,1,1,1,1,2,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,F,13,0,1,1,2,2,2,1,1,2,2,2,2,1
305,M,27,1,1,1,1,1,2,2,2,2,2,2,1,2
306,M,15,1,1,1,1,1,1,2,2,2,2,1,1,2
307,M,24,1,1,2,1,1,2,2,1,2,2,2,1,2
308,M,19,0,1,1,2,1,2,2,2,2,1,1,2,1

In [13]:
y

0      YES
1      YES
2       NO
3       NO
4       NO
      ...
304    YES
305    YES
306    YES
307    YES
308    YES
Name: LUNG_CANCER, Length: 309, dtype: object

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

X_train,X_test,y_train,y_test = train_test_split(X,y, test_size= 0.2, random_state=0)

In [22]:
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

# Assuming 'dataset' is your DataFrame with columns like 'gender', 'age', etc.
# Replace 'gender' with the actual categorical column name in your dataset
label_encoder = LabelEncoder()
dataset['gender_encoded'] = label_encoder.fit_transform(dataset['gender'])

# Assuming 'X_train', 'X_test', 'y_train', 'y_test' are your training and testing data
# Replace these with your actual data
X_train, X_test, y_train, y_test = train_test_split(dataset[['gender_encoded', 'age']], dataset['target'], test_size=0.2, random_state=42)

# Initialize and train the logistic regression model
logreg = LogisticRegression(solver='liblinear')
logreg.fit(X_train, y_train)

# Evaluate the model or perform predictions
# Example: y_pred = logreg.predict(X_test)
# Check the column names in your dataset
print(dataset.columns)

# Print the first few rows of your dataset to inspect the data
print(dataset.head())

# Assuming 'gender' is not the correct column name, replace it with the actual column name
# Example: If the column name is 'Gender' instead of 'gender'
# label_encoder.fit_transform(dataset['Gender'])

# If the column name is correct and still getting KeyError, check for any leading or trailing spaces in the column name
# Example: label_encoder.fit_transform(dataset[' gender'])

# Make sure to replace 'Gender' or ' gender' with the actual column name in your dataset

KeyError: 'gender'

In [19]:
y_pred = logreg.predict(X_test)

TypeError: LinearClassifierMixin.predict() missing 1 required positional argument: 'X'